    body {
        display: grid;
        justify-content: center;
        background-color: rgb(246, 243, 243);
    }
    
    nav {
        height: 5vh;
        padding-top: 2%;
    }
    
    nav ul {
        display: flex;
        margin-right: 4%;
        margin-left: 4%;
        list-style-type: none;
        justify-content: space-between;
    }
    
    nav ul a {
        text-decoration: none;
    }
    
    nav ul a:hover {
        transition: .4s;
        padding-bottom: 4px;
        border-bottom: 3px solid rgb(129, 43, 56);
    }
    
    nav ul li {
        font-size: 25px;
        font-weight: bold;
        color: rgb(129, 43, 56);
    }
    
    * {
        margin: 0;
        padding: 0;
    }
    
    .container {
        display: grid;
        width: 90%;
        max-width: 1400px;
        justify-content: center;
        justify-self: center;
    }
    
    .title_back_color_section {
        display: grid;
        align-items: center;
        width: 100%;
        padding: 100px 10px;
        background-color: rgb(216, 128, 142);
        background-image: url(/portfolioimage/FDsal.jpg);
        color: rgb(90, 50, 34);
    }
    
    .entete {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        padding: 10px 40px;
        align-items: center;
    }
    
    .salutation {
        font-size: 3rem;
    }
    
    .monimage {
        width: 300px;
        height: 275px;
        /* border-radius: 50%; */
        border-radius: 90px;
    }
    
    .presentation_back_color_section {
        display: grid;
        align-items: center;
        width: 100%;
        padding: 50px 10px;
        background-color: white;
        color: rgb(129, 43, 56);
        
    }
    
    .presentation {
        display: grid;
        justify-content: center;
        width: 90%;
        justify-self: center;
        gap: 50px;
        text-align: center;
        font-size: 1.5rem;
      
    }
    
    .parcours_back_color_section {
        display: flex;
        width: 100%;
        padding: 50px 10px;
        font-size: 1.1rem;
        justify-content: center;
    }
    
    .parcours,
    .experiences {
        padding: 0 40px;
       justify-content: space-between;
       
    }
    
    .parcours_back_color_section div h2 {
        margin-bottom: 30px;
    }
    
    .parcours_specification,
    .experiences_specification {
        display: grid;
        justify-content: space-between;
    }

    .parcourstitre{
        background-color: rgb(227, 187, 187);
    }

    .experiencestitre{
        background-color: rgb(223, 188, 188);
    }

    .cil{
        background-color: rgb(253, 251, 251);
        width: 1400;
        height: 200;
        margin-left: 10px;
        color: rgb(129, 43, 56);
        font-size: 20px;
        text-decoration: underline;
    

    }
    
    .langue2{
        padding-left: 1000px;
        padding-right: 40px;
        
        
    }

    .langue{
        padding-top: 20px;
        padding-left: 10px;
    }

    .competences{
        text-align: center;
        margin-top: 20px;
    }

    .langue2{
margin-top: 20px;
    }
    
    .realisations_back_color_section {
        display: grid;
        padding: 20px 10px;
        background-color: rgb(243, 193, 231);
        color: rgb(12, 10, 10);
        background-image: url(/portfolioimage/bg.jpg);
        font-size: 20px;
        
    }
    
    .realisations_back_color_section h2 {
        justify-self: center;
        margin-bottom: 30px;
        color: rgb(160, 98, 107);
        text-decoration: underline;
    }
    
    .realisations {
        display: flex;
        /* width: 100%; */
        align-items: center;
        justify-content: space-around;
        color: rgb(160, 98, 107);
    }
    
    .realisations div {
        width: 200px;
        text-align: center;
        padding: 10px;
        justify-content: center;
        
        color: rgb(160, 98, 107);
        font-size: 20px;
    }
    
    .realisations div img {
        width: 210px;
        height: auto;
        /* padding-bottom: 20px; */
        border: solid ;
        border-radius: 90px;
        background-color: rgb(202, 160, 195);
        color: rgb(160, 98, 107);
    }

    a{
        color: brown;
    }

    
    .coordonnees_back_color_section,
    .coordonnees {
        height: 100;
        background-color: rgb(241, 237, 241);
        text-align: center;
        padding-top: 30px;
        font-size: 25;
        color: rgb(68, 35, 24);
    }
    
    .contact {
        height: 250px;
        background-color: rgb(43, 16, 31);
        color: white;
        font-size: 15;
        padding-top: 40;
    }


    .contact{
        display: grid;
        grid-template: 1fr 2fr 0.5fr /1fr 1fr 1fr;
        width: 100%;
        height: max-content;
        font-size: 20;

    }
    .adresse{
        grid-column:1/4;
        border: solid 1px;
        padding: 20px;
        font-size: 20px;
    }
    .cc{
        border: solid 1px;
        grid-row: 2/3;
        grid-column: 1/4;
        display: grid;
        grid-template: 1fr /1fr 1fr 1fr;
        height: max-content;

    }
    .commentaire{
        grid-column: 1;
        border: solid 1px;
        padding: 15px;
    }
    .commande{
        grid-column: 2;
        border: solid 1px;
        padding: 15px;

    }
    .reseau{
        grid-column: 3;
        border: solid 1px;
        padding: 15px;
        font-size: 20;

    }

    .communeaute{
        padding-left: 650px;
    }